{% extends 'dummy.html' %}

    {% block title %}
    <title>Document</title>
    
    {% endblock %}

    {% block body_block %}

    <center>
        <div class="box">
        <form method="POST">
            {% csrf_token %}
            <h1>change_password</h1><br>

            <tr>
                <td><label for="pw"><strong>change_password</strong></label></td>
                <td><input type="password" name="change_password" id="pw"></td>
            </tr>
            <br>
            <tr>
                <td><input type="submit" value="Reset Password" class="btn btn-success"></td>
            </tr>
            
        </form>
    </div>
    </center>
















    {% endblock %}
</body>
</html>