{% extends 'dummy.html' %}
    {% block title %}
    <title>Document</title>
    <style>
        body{
            background-image: url(https://i.pinimg.com/originals/70/55/0e/70550eb45473ff68da99be53e7d34bad.jpg);
            background-size: cover;
        }
        div{
            padding: 220px;
            
            color: blue;
        }
        form{
            width: fit-content;
            border: 2px solid black ;
            padding: 25px;
            border-radius: 50px;
            box-shadow: transparent;
            backdrop-filter: blur(2px);
            text-decoration: dashed;
            transition: 1s;
        }
        form:hover{
            box-shadow: 40px 10px 30px 10px rgb(0, 255, 30);
            transform: translate(-45px,10px);
                
        }
        input{
            border: 2px double orange;
            border-radius: 50px;
            transition: 1s;
            text-align: center;

        }
        input:hover{
            background-color: rgb(207, 243, 4);
            color: rgb(245, 5, 5);
            border-radius: 50px;
            
            
        }
        
    </style>

    {% endblock %}

    {% block body_block %}

    <center>
        <div class="active-box">
        <form method="POST">
            {% csrf_token %}
            <h1>Reset Password</h1>
             <table class="translate">
                <tr>
                    <td><label for="un" aria-placeholder="username">Username :</label></td><br>
                    <td><input type="text" name="un" id="un"></td>
                </tr>
                <tr>
                    <td><label for="pw" aria-placeholder="password">Password :</label></td>
                    <td><input type="text" name="pw" id="pw"></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td class="button"><input type="submit" value="Password Reset" class="btn btn-primary"></td>
                    <br>
                </tr>
            </table>
             
            
        </form>
    </div>
    </center>









    {% endblock %}